

math-field {
    margin: 0px 0px;
    /* background-color: #FFE8F0; */
    padding: 0px 0px;
}

/* moodle YUI overrides bootstrap typography, ok, but I want a slightly bigger font size */
p {
    font-size:larger;
    line-height: normal;
}

li {
    font-size:larger;
    line-height: normal;
}


/* standard style for canvas */
canvas {
    width: 960px;
    height: 480px;
}

/* a little shading for the code backticks */
kybd {
    background-color: #e0e0e5;
    color: rgb(112, 1, 1);
    font-weight: bold;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    min-width: 20px;
    border: solid 1px rgb(112, 1, 1);
    ;
}


dd {
    margin-left: 20px;
}

del {
    text-decoration: line-through;
}

pre {
    font-family: monaco, consolas, "courier new", monospace;
    font-size: 1em;
    min-height: 3em;
    overflow: auto;
    padding: 1em;
    background-color: #f0f0ff;
}

/* a little shading for the code backticks */
code {
    background-color: #f0f0ff;
    font-family: system-ui;
    color: rgb(50, 50, 56);
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

nbsp {
    /* visibly putting &nbsp; into the text   as <nbsp />  */
    padding-left: 5px;
}

/* ol,
li {
  margin: 0;
  padding: 0;
} */

/**  split **/

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #b8e8e8;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-blend-mode: difference;
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-blend-mode: difference;
    cursor: row-resize;
}